/**
    Styles for gablaxian.com
    Author: Graham Smith
**/
/** Reset **/
html, body, div, h1, h2, h3, h4, p, code, pre, strong, em, b, i, ul, ol, li, section, nav, canvas, article {
  margin: 0;
  padding: 0;
  font-size: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/** General Styles **/
html {
  height: 100%; }

body {
  font-family: 'ff-tisa-web-pro', 'times new roman', serif;
  line-height: 1.5;
  color: #444; }

html, body {
  background-color: #fafafa; }

h1 {
  margin: 10px 0; }

p {
  margin-bottom: 20px; }

a {
  color: #ff8f00;
  font-weight: 600; }

/* Yay Markdown and the annoying paragraph it adds when nesting lists! */
li p {
  margin: 0; }

ul ul {
  margin: 8px 0 20px 25px; }

/** Layout **/
.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px; }

.starfield-bg {
  background-color: #000;
  border-bottom: 1px solid #fff;
  min-height: 100px; }

/** Header **/
.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 0; }
  .site-header .container {
    position: relative; }
  .site-header h1 {
    background: url("../img/logo.png") 0 0 no-repeat;
    max-width: 720px;
    height: 65px;
    margin: 0 auto; }
  .site-header .links {
    position: absolute;
    top: 0;
    right: 10px; }
    .site-header .links a {
      display: block;
      background: url("../img/social-icons.png") 0 0 no-repeat;
      width: 20px;
      height: 22px;
      margin-bottom: 5px; }
    .site-header .links .twitter {
      background-position: 0 0; }
    .site-header .links .flickr {
      background-position: -23px 0; }
    .site-header .links .github {
      background-position: -46px 0; }
    .site-header .links .vimeo {
      background-position: -69px 0; }
  .site-header h1, .site-header .links a {
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }

/** Navigation **/
.site-navigation {
  margin: 0.6em 0; }
  .site-navigation ul {
    list-style: none; }
  .site-navigation li {
    float: left;
    margin-right: 0.8em; }
  .site-navigation a {
    font-weight: 400; }

/** Content **/
.main {
  margin: 35px 0 40px 0; }

.main h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.main h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8em; }

.main h3 {
  margin: 0.8em 0; }

.main h1 + ul {
  margin-bottom: 2em; }

pre {
  margin-bottom: 1rem;
  overflow: auto;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 1px #999999;
  padding: 0.5em; }

/** Comments **/
.comments {
  margin-top: 50px; }
  .comments h3 {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 25px;
    padding-bottom: 5px; }

/** Footer **/
.site-footer {
  background-color: #eeeeee;
  border-top: 1px solid #e7e6e6;
  height: 8em; }

/** Extras **/
.cv .details span, .cv time {
  display: block; }
.cv time {
  font-weight: 600; }
.cv .employment span {
  display: block;
  font-style: italic;
  color: #969696;
  margin-bottom: 1em; }

/** High Pixel Density Displays **/
/** 420px **/
@media only screen and (min-width: 26.25em) {
  .site-header .links a {
    float: left;
    margin: 0 0 0 5px; }

  .site-header .links a:first-child {
    margin: 0; } }
/** 800px **/
@media only screen and (min-width: 50em) {
  .site-header .links .twitter:active {
    background-position: 0 bottom; }
  .site-header .links .flickr:active {
    background-position: -23px bottom; }
  .site-header .links .github:active {
    background-position: -46px bottom; }
  .site-header .links .vimeo:active {
    background-position: -69px bottom; } }
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  .starfield-bg, .site-header, .site-navigation {
    display: none; }

  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
