
<div class="Page-masthead">

    <canvas class="Starfield"></canvas>
    
    <header class="Masthead" role="banner">

        <div class="Masthead-container">

            <a href="/" class="Masthead-logo">
                <h1 class="Masthead-header ir">gablaxian</h1>
            </a>

        </div>

    </header>

    <nav class="Navigation" role="navigation">

        <div class="Navigation-container">

            <ul class="Navigation-items">
                <li class="Navigation-item{% if include.navigation == 'home' %} isActive {% endif %}">
                    <a class="Navigation-itemLink" href="/">Home</a>
                </li>
                <li class="Navigation-item">
                    <a class="Navigation-itemLink" href="/articles">Articles</a>
                </li>
            </ul>

        </div>

    </nav>

</div>