---
layout: default
---

    <div>

    {% assign page_id = page.url | split: "/" | last %}

        <article>
            {% if page.title %}
            <header>
                <h2>{{ page.title }}</h2>
            </header>
            {% endif %}

            <div class="Prose">
            {{ content }}
            </div>
        </article>

        <aside>
            <nav>
                <ul>
                    {% for post in site.categories['creating-a-game-with-javascript'] reversed %}
                    <li>
                        {% if page.url == post.id %}
                        {{ post.title }}
                        {% else %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <!--
                        Possible next steps:

                    <li>
                        The Game Engine
                        <ul>
                            <li>Part 1 - Game Objects</li>
                            <li>Part 2 - Managing the Level</li>
                            <li>Part 3 - Physics</li>
                        </ul>
                    </li>
                    <li>AI</li>
                    <li>GUI</li>
                    <li>Wrapping Up</li>
                    -->
                </ul>
            </nav>
        </aside>

    </div>
