<!DOCTYPE html>
<html lang="en">

    {% include header.html %}

<body id="top">

    <div class="Page">

        {% include masthead.html %}

        <div class="Page-body">

            <main class="SiteBody" role="main">

                <div class="SiteBody-container">

                    {{ content }}

                </div>

            </main>

        </div>

        <div class="Page-footer">

            <footer class="SiteFooter">

                <div class="SiteFooter-about">
                    <div class="AboutMe">
                        <h2>About me</h2>

                        <p>Front-end developer living in Brighton and working for <a href="http://clearleft.com" rel="external" target="_blank">Clearleft</a>.</p>
                        <p>Definitely <i>not</i> a designer.</p>
                    </div>
                </div>

                <div class="SiteFooter-links">
                    <ul class="SocialLinks">
                        <li>
                            <a href="https://twitter.com/gablaxian" class="twitter ir" rel="external">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/gablaxian/sets/" class="flickr ir" rel="external">Flickr</a>
                        </li>
                        <li>
                            <a href="https://github.com/gablaxian" class="github ir" rel="external">github</a>
                        </li>
                    </ul>
                </div>

            </footer>

        </div>

    </div>

    <script src="/assets/js/main.js" async></script>

</body>
</html>
