
.Article {
    figure.highlight {
        margin: 0;

        pre {
            margin: 2rem 0;
            box-shadow: 4px 4px #eee;
        }
    }

    aside {
        position: absolute;
        width: #{(200/16)}rem;
        font-size: #{(12/16)}rem;
        transform: translateX(-110%);
    }
}
.Article-header {
    padding-bottom: 1rem;

    a {
        display: block;
    }
}
.Article-headerLink {
    color: #222;

    &:hover {
        color: #0498AB;
    }
}
.Article-headerText {
    font-family: '04b03regular';
    font-size: #{(26/16)}rem;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff, 1px 2px 0 #BDBDBD;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}
.Article-date {
    color: #888;
    display: block;
    font-size: #{(13/16)}rem;
    font-weight: 700;
    margin-top: 0.5rem;
}
.Article-tags {
    line-height: 1.1;
    span {
        color: #aaa;
        display: inline-block;
        font-size: #{(13/16)}rem;
    }
}

.Article--short {
    margin-bottom: #{(40/16)}rem;

    .Article-excerpt {
        p {
            margin-top: 0;
            font-size: #{(14/16)}rem;
        }
    }
}

.Article--tutorial,
.Article--long {
    h2 {
        font-family: '04b03regular';
        font-size: 1.25rem;
        color: #222;
        margin: 0;
        padding-top: 2.4rem;
        padding-bottom: 1rem;
        line-height: 1;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #fff, 1px 2px 0 #BDBDBD;
    }
}
