
.Comments {
    margin: 50px 0 60px 0;
}
.Comments-headerText {
    border-bottom: 1px solid rgb(200,200,200);
    margin-bottom: 25px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 800px) {
    .Comments-container {
        max-width: 640px;
        margin: 0 auto;
        padding: 0 15px;
    }
}