
.cv {
    .details span, time {
        display: block;
    }
    time {
        font-weight: 600;
    }
    .employment span {
        display: block;
        font-style: italic;
        color: rgb(150,150,150);
        margin-bottom: 1em;
    }
} 