
.Pagination {}

.Pagination-left {
    float: left;
}
.Pagination-right {
    float: right;
}

.pagination {
    padding: 1rem 0;
    
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}