
*,
*:before,
*:after {
    box-sizing: border-box;
}

/** General Styles **/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    border-top: 2px solid #00d1c1;
}

body {
    background-color: #fff;
    color: #333;
    font-family: $primary-font;
    line-height: #{(24/16)};
    margin: 0;
    max-width: 38em;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 22.5em) {
    body {
        padding: 0 2rem 2rem 2rem;
    }
}

main {
    min-height: 30vh;
}

h2 {
    font-family: $secondary-font;
    font-size: #{(28/16)}rem;
    font-weight: 700;
    line-height: #{(18/16)};
    text-shadow: 0 1px 0 #fff, 1px 2px 0 #BDBDBD;
    text-transform: uppercase;
}

a {
    color: #0498AB;
    text-decoration: none;
    transition: color 0.1s ease;
}
a:hover {
    color: #044D56;
}

img {
    max-width: 100%;
}

article {
    header {
        h2 {
            line-height: 1;
            margin-bottom: 0;
        }
    }
    time {
        color: #999;
        font-size: #{(14/16)}rem;
    }
}

article + article {
    margin-top: 2rem;

    &:before {
        background-color: #ccc;
        content: '';
        display: block;
        height: 1px;
        margin: 0 auto 2rem auto;
        width: 45%;
    }
}

abbr[title] {
    border-bottom: 1px dotted #999;
}

.PageContent {
    margin-top: 4rem;
}

.NotThatYouCare {
    border-top: 1px solid #999;
    color: #444;
    margin-top: 2rem;
    padding-top: 1rem;

    li {
        font-size: #{(14/16)}rem;
    }
}

.PageFooter {
    border-top: 1px solid #999;
    color: #666;
    margin-top: 2rem;
    padding-top: 1rem;

    p {
        margin: 0.25rem 0;
    }
}
