/**
    Styles for gablaxian.com
    Author: Graham Smith
**/

@font-face {
    font-family: '04b03regular';
    src: url('/assets/fonts/04b_03__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** Reset **/
html, body, div, h1, h2, h3, h4, p, code, pre, strong, em, b, i, ul, ol, li, iframe, section, nav, canvas, article { margin:0; padding:0; font-size:100%; }

*, *:before, *:after {
    box-sizing: border-box;
}

/** General Styles **/
html {
    background-color: rgb(238, 238, 238);
    height: 100%;
}
body {
    font-family: 'ff-tisa-sans-web-pro', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    line-height: 1.5;
    color: #444;
}

h1  {
    font-family: '04b03regular', 'ff-tisa-sans-web-pro', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow: 0 1px 0 #fff, 1px 2px 0 #BDBDBD;
}
h2  {
    font-family: '04b03regular', 'ff-tisa-sans-web-pro', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3  {
    font-family: '04b03regular', 'ff-tisa-sans-web-pro', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p   { margin-bottom: 1.6rem }
a   { color: rgb(255, 143, 0); text-decoration: none; }
a:hover { text-decoration: underline; }

pre code {
    font-family: 'Monaco', 'Consolas', 'Menlo', monospace;
    font-size: 0.6rem;
}

/* Yay Markdown and the annoying paragraph it adds when nesting lists! */
li p    { margin: 0 }
ul ul   { margin: 8px 0 20px 25px }

/** Layout **/
.container {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 15px;
}

.starfield-bg {
    background-color: #000;
    border-bottom: 1px solid #fff;
    height: 80px;
}

/** Header **/
.site-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 16px;

    .container {
        position: relative;
    }

    h1 {
        background: url('/assets/img/logo.png') 0 0 no-repeat;
        max-width: 720px;
        height: 65px;
        margin: 0 auto;
    }

    .links {
        position: absolute;
        top: 0;
        right: 10px;
        width: 50px;

        a {
            display: block;
            float: left;
            background: url('/assets/img/social-icons.png') 0 0 no-repeat;
            width: 20px;
            height: 22px;
            margin: 0 0 5px 5px;
        }

        .twitter    { background-position: 0 0; }
        .flickr     { background-position: -23px 0; }
        .github     { background-position: -46px 0; }
        .vimeo      { background-position: -69px 0; }
    }

    h1, .links a {
        image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    }
}

/** 420px **/
@media only screen and (min-width: 26.25em) {
    .site-header {
        .links {
            width: auto;

            a {
                &:first-child {
                    margin: 0;
                }
            }
        }
    }
}

/** 800px **/
@media only screen and (min-width: 50em) {
    .site-header .links {
        .twitter:active    { background-position: 0 bottom }
        .flickr:active     { background-position: -23px bottom }
        .github:active     { background-position: -46px bottom }
        .vimeo:active      { background-position: -69px bottom }
    }
}


/** Navigation **/
.site-navigation {
    margin: 0.6em 0;

    ul { list-style: none }
    li { float: left; margin-right: 0.8em }
    a  { font-weight: 400 }
}

/** Content **/
main {
    margin: 35px 0 60px 0;

    h1 { font-size: 24px; line-height: 1.2; margin-bottom: 1rem; }
    h2 { font-size: 20px; line-height: 1.1; margin-bottom: 0.8em; }
    h3 { margin: 0.8em 0 }

    h1 + ul { margin-bottom: 2em }

    ul {
        margin-left: 1.4em;
    }

    p {
        font-size: 1.05rem;
    }

    img {
        display: block;
        margin: 10px auto;
    }

    iframe {
        display: block;
        border: none;
        margin: 0 auto 20px auto;
    }

    p code {
        border: 1px solid rgb(221, 221, 221);
        background-color: #fafafa;
        padding: 0.1em 0.2em;
    }
}

main.article {
    aside {
        display: none;
    }
}

@media only screen and (min-width: 50em) {
    main.article {
        .container {
            max-width: 800px;
        }

        aside {
            display: block;
            float: left;
            width: 20%;

            ul {
                margin-left: 0;
            }

            li {
                font-size: 0.9rem;
                list-style: none;
                margin-bottom: 0.2em;
            }
        }

        article {
            float: right;
            width: 75%;
        }
    }
}

.article-short {
    margin-bottom: 3rem;

    h2 {
        margin-bottom: 0.2rem;
    }

    time {
        display: block;
        color: #999;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

pre {
    border: 1px solid rgb(221, 221, 221);
    background-color: #fafafa;
    overflow: auto;
    line-height: 1.4;
    margin-bottom: 2rem;
    padding: 0.5em;
}

.pagination {
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

/** Comments **/

.comments {
    margin: 50px 0 60px 0;

    h3 {
        border-bottom: 1px solid rgb(200,200,200);
        margin-bottom: 25px;
        padding-bottom: 5px;
    }
}

/** Footer **/

.site-footer {
    background-color: rgb(238, 238, 238);
    border-top: 1px solid rgb(231, 230, 230);
    height: 8em;
}

/** Extras **/

.cv {
    .details span, time {
        display: block;
    }
    time {
        font-weight: 600;
    }
    .employment span {
        display: block;
        font-style: italic;
        color: rgb(150,150,150);
        margin-bottom: 1em;
    }
} 


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// Include syntax highlighting
@import 'syntax';

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    .starfield-bg, .site-header, .site-navigation { display: none }
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; /* h5bp.com/t */ }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 { page-break-after: avoid; }
}

