
<div class="Page-masthead">

    <header class="Masthead" role="banner">

        <div class="Masthead-container">

            <a href="/" class="Masthead-logo">
                <h1 class="Masthead-header ir">gablaxian.com</h1>
            </a>

        </div>

    </header>

    <nav class="Navigation" role="navigation">

        <div class="Navigation-container">

            <ul class="Navigation-items">
                <li class="Navigation-item">
                    <a class="Navigation-itemLink" href="/blog">Blog</a>
                </li>
                <li class="Navigation-item">
                    <a class="Navigation-itemLink" href="/articles">Series</a>
                </li>
            </ul>

        </div>

    </nav>

    <canvas class="Starfield" width="0" height="0"></canvas>

</div>
