<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} gablaxian.com</title>
	
	<meta name="viewport" content="width=device-width">
	
	<meta name="description" content="Home of one gablaxian">
	<meta name="keywords" content="gablaxian,portfolio,web design,web development,website">
	
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<script src="//use.typekit.net/waw1afc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div class="starfield-bg"><canvas id="starfield"></canvas></div>

	<header class="site-header">

        <div class="container">
            <a href="/" class="logo"><h1 class="ir">gablaxian</h1></a>

            <div class="links">
                <a href="https://twitter.com/gablaxian" class="twitter ir" rel="external">Twitter</a>
                <a href="http://www.flickr.com/photos/gablaxian/" class="flickr ir" rel="external">Flickr</a>
                <a href="https://github.com/gablaxian" class="github ir" rel="external">github</a>
                <a href="https://vimeo.com/gablaxian" class="vimeo ir" rel="external">vimeo</a>
            </div>
        </div>
	</header>
	
	<div class="container">
		
		<nav class="site-navigation" role="navigation">
			<ul class="clearfix">
				<li><a href="/journal">Journal</a></li>
				<li><a href="/articles">Articles</a></li>
			</ul>
		</nav>
		
		<div class="main" role="main">
			
			{{ content }}
			
		</div>

		{% if page.disqus %}
		<section class="comments">
			<h3>The bit where I let you think I care</h3>

			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'gablaxian'; // required: replace example with your forum shortname

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</section>
		{% endif %}
	</div>

	<footer class="site-footer"></footer>

	<script src="/assets/js/main.js"></script>
</body>
</html>